.THIS .slds-radio--button .slds-radio--faux {
     padding-top: 1rem;
     padding-bottom: 1rem;
    padding-right: 1rem;
    text-align: left;
    white-space: normal;
    line-height: 17px;
    font-family:Arial;
    color:black;
    vertical-align: middle;
    
   
}
.THIS.slds-modal__content.slds-p-around--medium.container-fluid.h3{
    
    font-size:1.5rem;
    font-family:Arial;
}
.THIS  #error {
    text-align: center;
    color:#FF0000;
}

.THIS .buttonStyle{
    color: #f8f8f8;
    font-size: 1.5em;
    font-variant-caps: all-petite-caps;
    border-radius: .125rem;
    font-weight: 700;
    padding-bottom: 4px;
    border-color:white;
}

/*.THIS .buttonColor{
    background-color: #179b91;
    padding: inherit;
    border-radius: 0.125rem;
    border: none;
}*/

.THIS .cancel {
    background-color:white;
    border : none;
    font-size: 1.5em;
    font-variant-caps: all-petite-caps;
}
.THIS .backgrd{
   background:rgba(1,1,1,0.5);
}