.THIS .uibuttons{
   background-color: #138078;
    height: 55px;
    border: none;
    color:White !Important;
    padding: 0 5rem;
    font-size: .8125rem;
    font-weight: 700;
    width:100%;
    text-decoration:none;
    
 }
.THIS .uibuttons:hover{
    background-color:#0C544E;;
     color:white;
    text-decoration:none;
      }

.THIS .uiOutputURL{
    color: white;
    font-weight: 700;
    font-size: .8125rem;
    text-decoration: none;
    
}