.THIS .forceChangeOwnerContent .nonEditableOptions {
    margin-top: 1.5rem;
}

.THIS .forceChangeOwnerContent .nonEditableOptions .desc {
    font-weight: bold;
}

.THIS .forceChangeOwnerContent .changeOwnerContentBody .nonEditableOptions {
    list-style-type: circle;
    padding: 0;
    margin: 1.5rem 25px 0;
    list-style: none;
}