.THIS .fonttext{
    font-size: 2.2rem;
    color: grey;
}

.THIS #lab{
    font-size: 15px;
    color: grey;
}

.THIS .uiInput--select.select{
    font-size: 1rem;
    color:grey;
}
.THIS .uiInput--input.input {
    font-size: 1rem;
    color: grey;
}
.THIS .slds-button slds-radio--button {
    background-color: rgb(0, 174, 158);
}