.THIS .buttonStyle{
    color: #f8f8f8;
    font-size: 1.5em;
    font-variant-caps: all-petite-caps;
    border-radius: .125rem;
    font-weight: 700;
    padding-bottom: 4px;
    border-color:white;
    background-color:#00b5a3;
    border-color: #00b5a3;    
 }
.THIS .buttonStyle:hover{
    background-color:rgba(19, 128, 120);
    border-color: #138078;

}
.THIS  #error {
    text-align: center;
    color:#FF0000;
    font-size : 1em;
    
}