.THIS  #error {
    text-align: center;
    color:#FF0000;
    font-size : 1em;
    
}
.THIS.slds-modal__container{   
    background-color:white;
}

.THIS .slds-radio--button .slds-radio--faux {
     padding-top: 1rem;
     padding-bottom: 1rem;
     padding-right: 1rem;
     text-align: left;
     white-space: normal;
     line-height: 17px;
     font-family:Arial;
     color:black;
     vertical-align: middle;
}

/* .THIS .buttonStyle{
   font-size: 19px;
    background-color: #179b91;
    border-radius: 3px;
    font-variant-caps: all-petite-caps;
    border-radius: initial;
    border-color: white;
}*/

.THIS .buttonColor{
    border-radius: .125rem;
    padding: 14px;
    border: none;
    font-weight: 700;
    font-size: .8125rem;
    margin: 0;
    margin-left: 5%;
    width: 95%;
    text-transform: uppercase;
}

.THIS .buttonStyle{
    color: #f8f8f8;
    font-size: 1.5em;
    font-variant-caps: all-petite-caps;
    border-radius: .125rem;
    font-weight: 700;
    padding-bottom: 4px;
    border-color:white;
 }
.THIS .buttonStyle:hover{
    background-color:rgba(19, 128, 120);
    border-color: #138078;
}
.THIS .slds-button slds-button--brand{
    background-color: #138078;
}

.THIS .cancel {
    background-color: #fdfbfb;
    border : none;
    border-radius: .125rem;
    font-size: 1.5em;
    font-variant-caps: all-petite-caps;
    color:rgb(37,116,169);
    
}

.THIS .modalContent{
    line-height: 1em;
    background-color: #fdfbfb;
	font-size:18px;
}

.THIS .element-font{
    font-size: 1.15rem;
}

.THIS .element-font-Text{
    font-size: 1.1rem;
    line-height: 2;
    margin: .5rem .5rem;
}

.THIS .uiInput--radio input[type=radio] {
    margin: 0 .5rem;
}

.THIS .slds-modal__header {
    background-color: #fdfbfb;
}

.THIS .slds-modal__footer{
    background-color: #fdfbfb;
}

.THIS .slds-modal__content:last-child{
    background-color: #fdfbfb;
}
.THIS .backgrd{
   background:rgba(1,1,1,0.5);
}